
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#pacientesRegistrados").html("Cargando...").load("@Url.Action("Listado", "Paciente")");
    });
</script>

@*
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_Eliminar").click(function () {
            $.post(@Url.Action("EliminarPaciente"),
                $("#form").serialize(),
                function () {
                    "@Url.Action("Paciente")";
                });
        });
    });

</script>
  *@  

@*
    <script>
            $(document).ready(function () {

                $("#form").submit(function (e) {
                    e.preventDefault();
                    $.post("@Url.Action("ActualizarPaciente")", $("#form").serialize(), function() {
                        $("#pacientes").html("cargando...").load("@Url.Action("Paciente")");

                    });
                });
            });
    </script>

*@
@*
        <script>
            $(document).ready(function () {
                //function will be called on button click having id guardar
                $("#guardar").submit(function (e) {
                    e.preventDefault();
                    $.ajax(
                        {
                            type: 'POST', //HTTP POST Method
                            contentType: "application/json: charset=utf-8",
                            url: @Url.Action("GuardarPaciente","Paciente"),
                            dataType: "json",
                            data: { //Passing data
                                identificacion: $("#identificacion").val(),
                                nombre_completo: $("#nombre_completo").val(),
                                direccion: $("#direccion").val(),
                                telefono: $("#telefono").val(),
                                horario_contacto: $("#horario_contacto").val()
                            }
                        });
                });
            });
        </script>
*@

<h2>Index</h2>
<div id="nuevo">
    <div class="row">
        <form id="form" action="@Url.Action("GuardarPaciente", "Paciente")">


            <div class="col-md-6">
                <label>Idenficacion</label>
                <div class="controls">
                    <input type="text" id="identificacion" name="identificacion" value="" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <label>nombre completo</label>
                <div class="controls">
                    <input type="text" id="nombre_completo" name="nombre_completo" value="" class="form-control" />
                </div>
            </div>



            <div class="col-md-6">
                <label>direccion</label>
                <div class="controls">
                    <input type="text" id="direccion" name="direccion" value="" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <label>telefono</label>
                <div class="controls">
                    <input type="text" id="telefono" name="telefono" value="" class="form-control" />
                </div>
            </div>



            <div class="col-md-6">
                <label>Horario</label>
                <div class="controls">
                    <input type="text" id="horario_contacto" name="horario_contacto" value="" class="form-control" />
                </div>
            </div>



            <div class="col-md-4">
                <button class="btn btn-primary btn-primary" id="guardar">Guardar</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger btn-danger" id="btn_Eliminar">Eliminar</button>
            </div>


        </form>
    </div>
</div>

<div id="pacientesRegistrados"></div>



