@using Aplicacion.Dtos

@{
    List<PacienteDto> pacientes = ViewBag.pacientes;
}

<h2>Listado de pacientes</h2>

<table>
    <thead>
        <tr>
            
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Horario</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in pacientes)
        {
            <tr>
               
                <td>@paciente.Identificacion</td>
                <td>@paciente.Nombre_completo</td>
                <td>@paciente.Direccion</td>
                <td>@paciente.Telefono</td>
                <td>@paciente.Horario_contacto</td>
                <td>
                    <a href="@Url.Action("Eliminar", "Paciente", new { id = paciente.Identificacion })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

